<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Jordan - Works</title>

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>
        MJ's Works
    </h1>

    <h2>Early NBA years (1984–1987)</h2>

    <p>
        The Chicago Bulls selected Jordan with the third overall pick of the 1984 NBA draft, after Hakeem Olajuwon
        (Houston
        Rockets) and Sam Bowie (Portland Trail Blazers). One of the primary reasons why Jordan was not drafted sooner
        was
        because the first two teams were in need of a center.[34] However, Trail Blazers general manager Stu Inman
        contended
        that it was not a matter of drafting a center, but more a matter of taking Sam Bowie over Jordan, in part
        because
        Portland already had Clyde Drexler, who was a guard with similar skills to Jordan.[35] ESPN, citing Bowie's
        injury-laden college career, named the Blazers' choice of Bowie as the worst draft pick in North American
        professional sports history.[36]
    </p>
    <p>
        During his rookie season with the Bulls, Jordan averaged 28.2 ppg on 51.5% shooting,[28] and helped make a team
        that
        had won 35% of games in the previous three seasons playoff contenders. He quickly became a fan favorite even in
        opposing arenas.[37][38][39] Roy S. Johnson of The New York Times described him as "the phenomenal rookie of the
        Bulls" in November,[39] and Jordan appeared on the cover of Sports Illustrated with the heading "A Star Is Born"
        in
        December.[40][41] The fans also voted in Jordan as an All-Star starter during his rookie season.[5] Controversy
        arose before the All-Star game when word surfaced that several veteran players—led by Isiah Thomas—were upset by
        the
        amount of attention Jordan was receiving.[5] This led to a so-called "freeze-out" on Jordan, where players
        refused
        to pass the ball to him throughout the game.[5] The controversy left Jordan relatively unaffected when he
        returned
        to regular season play, and he would go on to be voted Rookie of the Year.[42] The Bulls finished the season
        38–44[43] and lost to the Milwaukee Bucks in four games in the first round of the playoffs.[42]
    </p>

    <p>
        An often-cited moment was on August 26, 1985,[19][44] when Jordan shook the arena during a Nike exhibition game
        in
        Trieste, Italy, by shattering the glass of the backboard with a dunk.[45][46] The moment was filmed and is often
        referred to worldwide as an important milestone in Jordan's rise.[46][47] The shoes Jordan wore during the game
        were
        auctioned in August 2020 and sold for $615,000, a record for a pair of sneakers.[48][49]
    </p>

    <p>
        Jordan's second season was cut short when he broke his foot in the third game of the year, causing him to miss
        64
        games.[50] The Bulls made the playoffs despite Jordan's injury and a 30–52 record, at the time the fifth worst
        record of any team to qualify for the playoffs in NBA history.[43][51] Jordan recovered in time to participate
        in
        the postseason and performed well upon his return. Against a 1985–86 Boston Celtics team that is often
        considered
        one of the greatest in NBA history,[52] Jordan set the still-unbroken record for points in a playoff game with
        63 in
        Game 2.[53] The Celtics, however, managed to sweep the series.[42]
    </p>

    <p>
        Jordan had completely recovered in time for the 1986–87 season,[54] and he had one of the most prolific scoring
        seasons in NBA history. He became the only player other than Wilt Chamberlain to score 3,000 points in a season,
        averaging a league high 37.1 points on 48.2% shooting.[28][55] In addition, Jordan demonstrated his defensive
        prowess, as he became the first player in NBA history to record 200 steals and 100 blocked shots in a
        season.[56]
        Despite Jordan's success, Magic Johnson won the league's Most Valuable Player Award. The Bulls reached 40
        wins,[43]
        and advanced to the playoffs for the third consecutive year. However, they were again swept by the Celtics.[42]
    </p>

    <h2>Pistons roadblock (1987–1990)</h2>

    <p>
        Jordan (center) in 1987
        Jordan again led the league in scoring during the 1987–88 season, averaging 35.0 ppg on 53.5% shooting[28] and
        won his
        first league MVP Award. He was also named the Defensive Player of the Year, as he had averaged 1.6 blocks and a
        league
        high 3.16 steals per game.[57] The Bulls finished 50–32,[43] and made it out of the first round of the playoffs
        for the
        first time in Jordan's career, as they defeated the Cleveland Cavaliers in five games.[58] However, the Bulls
        then lost
        in five games to the more experienced Detroit Pistons,[42] who were led by Isiah Thomas and a group of physical
        players
        known as the "Bad Boys".[59]
    </p>
    <p>
        In the 1988–89 season, Jordan again led the league in scoring, averaging 32.5 ppg on 53.8% shooting from the
        field,
        along with 8 rpg and 8 apg.[28] The Bulls finished with a 47–35 record,[43] and advanced to the Eastern
        Conference
        Finals, defeating the Cavaliers and New York Knicks along the way. The Cavaliers series included a career
        highlight for
        Jordan when he hit The Shot over Craig Ehlo at the buzzer in the fifth and final game of the series.[60]
        However, the
        Pistons again defeated the Bulls, this time in six games,[42] by utilizing their "Jordan Rules" method of
        guarding
        Jordan, which consisted of double and triple teaming him every time he touched the ball.[5]
    </p>
    <p>
        The Bulls entered the 1989–90 season as a team on the rise, with their core group of Jordan and young improving
        players
        like Scottie Pippen and Horace Grant, and under the guidance of new coach Phil Jackson.[61] On March 28, 1990,
        Jordan
        scored a career-high 69 points in a 117–113 road win over the Cavaliers.[62] He averaged a league leading 33.6
        ppg on
        52.6% shooting, to go with 6.9 rpg and 6.3 apg[28] in leading the Bulls to a 55–27 record.[43] They again
        advanced to
        the Eastern Conference Finals after beating the Bucks and Philadelphia 76ers. However, despite pushing the
        series to
        seven games, the Bulls lost to the Pistons for the third consecutive season.[42]
    </p>


</body>

</html>